:root {
  --padding: 1em;
}

html {
  background: darkslateblue;
}

html *{
  border-radius: 0.3em;
}

.search {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  background: rgba(0,0,0,0.5);
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}
.search .searchHeader {
  position: relative;
  height: 20%;
}
.search .searchResults {
  position: relative;
  top: 10vh;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.search.show {
  /* visibility: visible !important; */
  display: initial;
  opacity: 1;
  transition: opacity 0.3s ;
}

.searchBar {
  font-size: 12pt;
  position: absolute;
  top: 0; left: 0;
  margin: var(--padding);
  padding: calc(var(--padding) / 2);
  outline: 0;
  border: 0;
}
.search .exit {
  position: absolute;
  right: 0;
  top: 0;
  margin: var(--padding);
  font-size: 20pt;
  background: transparent;
  box-shadow: 0;
  border: 0;
  outline: 0;
  color: white;
}

.graveyard {
  position: absolute;
  width: 150px;
  height: 209px;
  padding: 10px;
  bottom: 0; left: 0;
  background: grey;
}
.graveyard .card {
  position: absolute;
  width: 150px;
  height: 209px;
}

.graveyard .card > .cardBtnContainer {
  display: none;
}
.search .tap {
  display: none;
}

.exile {

}

.deck {
  position: absolute;
  width: 150px;
  height: 209px;
  padding: 1em;
  bottom: 0; right: 0;
  background: grey;
}

.deck img {
  width: 150px;
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: auto;
  max-width: 60vw;
  max-height: 25vh;
  padding: 1em;
  background: grey;
  bottom: 0; left: 0; right: 0;
  margin: auto;
}

.hand .tap {
  display: none;
}

.card {
  flex-grow: 0;
  width: 14%;
  display: flex;
  position: relative;
  margin: 0.1em;
  background: transparent;
  /* transition: ease all 0.2s; */
}

.card img {
  max-width: 100%;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.cardBtnContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 5%;
  top: 10px;
}

.card button {
  font-size: 11pt;
  background: rgba(255, 255, 255, 0.7);
  border: rgba(0, 0, 0, 0.5) solid 1px;
  outline: 0;
  border-radius: 0.3em;
  margin: 5px;
  z-index: 998;
}

.card.expanded {
  position: fixed;
  width: 300px;
  height: 418px;
  left: 0;right:0;top:0;bottom:0;
  margin:auto;
  /* transition: ease all 0.2s; */
  /* -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  transform-origin: bottom; */
  z-index: 999;
}
.card.expanded button {
  opacity: 0.3;
  /* transition: ease all 0.3s; */
}
.card.expanded button:hover {
  opacity: 0.9;
  transition: ease all 0.3s;
}

.card.expanded.tapped {
  transition: transform ease 0.2s;
  -webkit-transform: scale(2) rotate(0deg);
  -moz-transform: scale(2) rotate(0deg);
  -ms-transform: scale(2) rotate(0deg);
  -o-transform: scale(2) rotate(0deg);
  transform: scale(2) rotate(0deg);
  /* transform-origin: top left; */
}

.card.tapped {
  transition: transform ease 0.2s;
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -o-transform: rotate(90deg);
  /* Opera */
  transform: rotate(90deg);
  transform-origin: center;
}